/* .btn {
    min-width: 250px;
} */


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
           
}
body{
    font-family: 'Josefin Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
}

/* Container for flexboxes */
.row {
    display: flex;
    /* flex-wrap: wrap; */
}

/* Create four equal columns */
.col {
    flex: 25%;
    /* padding: 20px; */
}

/* .col-2{
    width: 50%;
}
.col-3{
    width: 100%;
} */
#pic {
    height: 30rem;
}
hr{
    padding: 0px;
    margin: 0px;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 1120px) {

    .row {
        flex-direction: column;
    }

    .col {
        flex: 50%;
    }

    .col-2 {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    #fouter {

        width: 100%;
    }

    #pic {
        height: 30rem;
        width: 45rem;
        margin-bottom: 20px;
    }

    .wrapper {
        flex-direction: column;
        /* width: 100%; */
    }

    #fouter {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }

    /* .wrapper {
            flex-direction: column;
            width: 50%;
        } */

    #pic {
        max-height: 30rem;
        max-width: 24rem;
        margin-bottom: 20px;
    }

    #fouter {
        width: 50%;
    }
}

@media screen and (max-width: 300px) {
    .row {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }

    #fouter {

        width: 100%;
    }

    #pic {
        max-height: 30rem;
        max-width: 15rem;
        margin-bottom: 20px;

    }

    #fouter {
        width: 100%;
    }
}


@media screen and (min-width: 500px) and (max-width:733px) {

    .row {
        flex-direction: column;
    }

    .col {
        flex: 50%;
    }

    .col-2 {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    #pic {
        height: 30rem;
        width: 30rem;
        margin-bottom: 20px;
    }

    #fouter {
        width: 50%;
    }
}

@media screen and (max-width: 1120px) {

    .col {
        flex: 50%;
    }

    .col-2 {
        width: 50%;
    }

    .col-3 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    #pic {
        height: 30rem;
        width: 45rem;
        margin-bottom: 20px;
    }
}



/* steganalysis */
.wrapper {
    display: flex;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    grid-template-rows: auto;
}


.one {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
}

.two {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
}

.three {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.four {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.five {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.six {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.seven {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.eight {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.nine {
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}
a:hover {
    background-color: rgb(153, 233, 131);
  }
  body {
    background-color: #ebf5e6;
} 
card{
    background-color: #ebf5e6;
}
card-body{
    background-color: #ebf5e6;
}