{% extends 'index.html' %} {% block title %}Steganalysis{% endblock title %}
{%block body %}
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col mt-2">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="mb-3">
            <label for="formFile" class="form-label"> Select a image</label>
            <input
              class="form-control"
              type="file"
              id="file-selector"
              accept="image/jpeg ,image/png, image/jpg"
            />
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Select a image</label>
            <input class="form-control" type="file" id="formFile1" />
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card" style="height: 25rem">
        <div class="card-body">
          <figure class="figure">
            <img
              src=""
              class="figure-img img-fluid rounded"
              alt=""
              height="100%"
              width="100%"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="height: 25rem">
        <div class="card-body">
          <figure class="figure">
            <output id="output"></output>
            <img
              src=""
              class="figure-img img-fluid rounded"
              alt=""
              height="100%"
              width="100%"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 row-cols-9">
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      Select/unselect
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      PSNR
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      BER
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      NCC
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      SD-CC
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      Q-index
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      ChiSquare
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      SSIM
    </div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      RS Analysis
    </div>
  </div>

  <!-- input -->
  <div class="row mt-4 row-cols-9">
    <div class="col"></div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
  </div>

  <!-- input and checkbox -->
  <div class="row mt-4 row-cols-9">
    <div class="col"></div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
    <div class="col"></div>
    <div class="col">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        aria-label="..."
      />
      Histogram
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="mb-3">
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="0.00"
        />
      </div>
    </div>
  </div>
  <!--    Button and Settings-->
  <div class="row mt-4 row-cols-9">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
      <button
        data-mdb-ripple-color="success"
        type="button"
        class="btn btn-success btn-lg"
      >
        Process
      </button>
    </div>
    <div class="col"></div>
    <div class="col">
      <button
        data-mdb-ripple-color="success"
        type="button"
        class="btn btn-light"
      >
        Settings
      </button>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>

<!--  -->

{% endblock body %}
