{% extends 'index.html' %} {% block title %}Steganalysis{% endblock title %}
{%block body %}
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col mt-2">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="mb-3">
            <label for="formFile" class="form-label"> Select a image</label>
            <input
              class="form-control"
              type="file"
              id="file-selector"
              accept="image/jpeg ,image/png, image/jpg"
            />
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Select a image</label>
            <input
              class="form-control"
              type="file"
              id="file-selector"
              accept="image/jpeg ,image/png, image/jpg"
            />
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card" style="height: 25rem">
        <div class="overflow-auto">
          <div class="card-body">
            <figure class="figure">
              <img
                id="img"
                src=""
                class="figure-img img-fluid rounded"
                alt=""
                height="100%"
                width="100%"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="height: 25rem">
        <div class="card-body">
          <figure class="figure">
            <!-- <output id="output"></output> -->
            <img
              id="img1"
              src=""
              class="figure-img img-fluid rounded"
              alt=""
              height="100%"
              width="100%"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <div class="wrapper">
      <div class="one">
        <div class="row">
          <div class="col">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            Select/unselect
          </div>
        </div>
      </div>
      <div class="two">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            PSNR
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="three">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            BER
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="four">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            NCC
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="five">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            SD-CC
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id="fouter"></div>
        </div>
      </div>
      <div class="six">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            Q-index
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="six">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            ChiSquare
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            Histogram
          </div>
        </div>
        <div class="row mt-4">
          <div class="col" id="fouter">
            <button
              data-mdb-ripple-color="success"
              type="button"
              class="btn btn-light"
            >
              Settings
            </button>
          </div>
        </div>
      </div>
      <div class="six">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            SSIM
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="six">
        <div class="row">
          <div class="col" id="fouter">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              aria-label="..."
            />
            RS Analysis
          </div>
        </div>
        <div class="row mt-2">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col" id="fouter">
            <div class="mb-3">
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2 mt-6">
      <button type="button" class="btn btn-success btn-lg">Process</button>
    </div>
  </div>
</div>

<!--  -->

{% endblock body %}
