{% extends 'index.html' %} {% block title %}Transformation{% endblock title %}
{% block body %}

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col mt-3 " >
      <div class="row g-3 ">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Select an Image</label>
  </div>
  <div class="col-7">
     <input class="form-control" type="file" >
  </div>
</div>

    </div>
  </div>
  <div class="row">
    <div class="col" style="border: 1px solid ;">
    <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">

</div>
    </div>
    <div class="col" style="border: 1px solid ;">
       <div class="row">
    <div class="col">
<ul class="list-group">
  <li class="list-group-item border-0">
    <input class="form-check-input me-2 " type="checkbox" value="" aria-label="...">
    First checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Second checkbox
  </li>
  <li class="list-group-item border-0">
    <div class="d-flex flex-row bd-highlight ">
  <div class=" bd-highlight"><input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    re size Image</div>
  <div class="bd-highlight"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>
  <div class="p-2 bd-highlight"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>
</div>
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    re size Image
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Fourth checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    First checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Second checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Third checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Fourth checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Fifth checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    First checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Second checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Third checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Fourth checkbox
  </li>
  <li class="list-group-item border-0">
    <input class="form-check-input me-2" type="checkbox" value="" aria-label="...">
    Fifth checkbox
  </li>
</ul>
    </div>
    <!-- <div class="col-5">
      <div class="d-flex flex-row bd-highlight mt-5 ">
  <div class="p-2 bd-highlight"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>
  <div class="p-2 bd-highlight"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>

</div>
   <div class="d-flex flex-row bd-highlight  ">
  <div class="p-2 bd-highlight"><input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"></div>
  <div class="p-2 bd-highlight"><div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Checked checkbox
  </label>
  </div></div>
  <div class="p-2 bd-highlight">
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
  <label class="form-check-label" for="flexCheckChecked">
    Checked checkbox
  </label>
  </div>
</div>

</div>
    </div> -->
       </div>
    </div>
  </div>
</div>

  {% endblock body %}
</div>